
body{
  background-color: #f1f1f1;
  font-family: Arial;
}






/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  top: 0;
  width:99.5vw;
  border-bottom: white solid 0.7vh;

  z-index: 10;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 1vh;
  text-decoration: none;
  font-size: 3vh;
  line-height: 10vh;
  border-left: solid transparent 1em;
  border-right: solid transparent 1em;
  
  
  
}



/* Change the background color on mouse-over */
.header-left a:hover{
  background-color: #ddd;
  color: black;
}

.header-right a:hover{
  background-color: #ddd;
  color: black;
}


.header-left{
  float: left;
  margin-left: 18.3vw;
  
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-right: 18.3vw;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

#icon{
  object-fit: cover;
  min-height: 5vh;
  max-height: 10vh;
  border-radius: 100vw;
  border-width: 100vw;

  position: absolute;
  left: 46.5%;
  margin-left: auto;
  border: white solid 1vh;
  

}

.flex_container{
    display: flex;
    flex-direction: column;
}


.banner > img{
    width: 85%;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 1em;
    left: 0%;
    margin-top: 5%;
   

    margin-left: auto;
    margin-right: auto;
    display: block;

}

@keyframes fadeInUp {
  0% {
    
    opacity: 0;
  }

  20% {
    
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 4s fadeInUp;
  animation-fill-mode:inherit;
}


#icon:hover{
  border: white solid 0.1vh;
}



div.gallery {
    border: 0.2em solid #2B2D42;
   

  }
  
  div.gallery:hover {
    border: 0.3em solid white;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  @media (max-width: 1422px) {
    .hidden_mobile {
      display: none;
    }
    .header{
      padding-bottom: 10vh;
    }
  } 
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .images{
    
    margin: 1rem 10vh;
    align-items: center;
    justify-content: center;
  }

  .Litt_om_meg > h1{
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 5vw;

    margin-top: 10%;
  }

  .Litt_om_meg > p{
    color: white;
    text-align: center;
    font-size: 1.7vw;
    margin-left: 10%;
    margin-right: 10%;
  }



  html{
    scroll-behavior: smooth;
  }

  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  

    .black_dots > #higherBG{
      
      z-index: -3;
      
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      margin-bottom: 100em; 
    }

    .black_dots > #lowerBG{
      display: flex;
    z-index: -2;
    
  
    position:absolute;
    width: 100%;
    min-height: 50em;
    max-height: 350vh;
   
    top: 45.5vh;
    left: 0%;

  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 200%;
    }

    
  }




  .small{
    object-fit: cover;
    min-height: 50vh;
    max-height: 50vh;

    border-radius: 10px;

  }


  .content{
    margin: 2vh;
    border-radius: 10p;
    border: transparent solid 1vh;
  }

  .content:hover{
    border: white solid 0.5vh;
    border-radius: 10px;
    

    background-color: white;
  }
  



  .dev_prosjekt > h1{
    color: black;
    font-size: 15vh;
    text-align: center;
    margin-top: 140vh;
 
    
  }

  #programmering_anchor{
    position: absolute;
    margin-top: 210vh;
    opacity: 0;
  }

