
body{
  background-color: white;
 
}


.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 1em;
    background-color: slategray;   
    overflow: hidden;
}

.header > a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 1em;

    margin-right: 9.2%;
    margin-left: 10%;
    
}


.flex_container{
    display: flex;
    flex-direction: column;
}


.banner > img{
    width: 85%;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 1em;
    left: 0%;

    margin-left: auto;
    margin-right: auto;
    display: block;

}




div.gallery {
    border: 0.2em solid #2B2D42;
   

  }
  
  div.gallery:hover {
    border: 0.3em solid white;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .images{
    
    margin: 1rem 10vh;
    align-items: center;
    justify-content: center;
  }

  .Litt_om_meg > h1{
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 500%;

    margin-top: 10%;
  }

  .Litt_om_meg > p{
    color: white;
    text-align: center;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
  }



  html{
    scroll-behavior: smooth;
  }




  .row {
    margin: 8px -16px;
  }
  

  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


    .black_dots > img{
    z-index: -2;
  
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;

  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
    .black_dots{

      width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 200%;
    }
    .black_dots{
      height: 5000%;
    }
  }


  .small{
    object-fit: cover;
    min-height: 50vh;
    max-height: 50vh;

  }
  
  .content{
    margin: 2vh;
  }

  .content:hover{
    z-index: 5;
    outline: white solid 1vh;
  }


  .dev_prosjekt > h1{
    color: blue;
    text-align: center;
    margin-top: 120vh;
  }